<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="./public/favicon_io/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./public/favicon_io/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./public/favicon_io/favicon-16x16.png" />
    <link rel="manifest" href="./public/favicon_io/site.webmanifest" />
    <title>Document</title>
</head>

<body>
    <!-- -------- Header start  ------- -->
    <header>
        <div class="container">
            <nav class="nav p-[40px] px-[150px]">
                <div class="nav-edit flex justify-between center">
                    <div class="nav-two flex gap-8">
                        <div class="nav-location">
                            <p class="nav-location-p1 flex center text-slate-500"> <img class="mr-8" src="../../public/location.svg" alt="location"> Наш
                                адрес:
                            </p>
                            <p class="nav-location-p ml-[52px] text-slate-500">г. Бишкек, ул. Ляляля 69</p>
                        </div>
                        <span class="bordercha"></span>
                        <div class="nav-location">
                            <p class="nav-location-p1 flex center text-slate-500"> <img class="mr-8" src="../../public/clock.svg" alt="location"> График
                                работы:</p>
                            <p class="nav-location-p ml-[52px] text-slate-500" >C 8:00 до 22:00 без выходных</p>
                        </div>

                    </div>
                    <div class="nav-location">
                        <p class="nav-location-p1 text-slate-500  nav-phone flex center"> <img class="mr-8" src="../../public/phone.svg" alt="location">+998 77 064
                            0682</p>
                        <p class="nav-location-p text-slate-500 ml-[52px]">+998 77 064 0682</p>
                    </div>
                </div>

                <div class="nav-border-bottom"></div>
            </nav>


            <div class="main-header flex justify-between px-[150px]">
                <div class="header-logo"><img src="../../public/images/logo.png" alt="logo"></div>

                <ul class="header-ul flex center gap-8">
                    <li class="list-none"><a href="#">Это мы</a></li>
                    <li class="list-none"><a href="#">Почему мы?</a></li>
                    <li class="list-none"><a href="#">А вот поэтому</a></li>
                    <li class="list-none"><a href="#">Контакты</a></li>
                </ul>

                <button class="header-btn bg-blue-500 rounded-md p-3 text-white" id="header-btn">Заказать звонок</button>
            </div>

        </div>
    </header>

    <!-- -------- Header end  ------- -->

    <!-- section 1 start -->
    <div class="container mt-[30px]">
    <div class="section-1 flex  justify-between items-center">
       
            <div class="section1-leftSide  px-[150px]">

                <h1 class="section-1-h1 text-6xl font-bold text-gray-900 w-[540px]">Affordable truck service</h1>
                <p class="text-slate-500 my-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id
                    integer.</p>
                <button class="section1-btn bg-blue-500 rounded-md p-3 text-white mt-[17px]">Чета сделать</button>

            </div>

            <div class="section1-rightSide">
                <img src="../../public/images/truck.png" alt="truck">
            </div>

        </div>
    </div>
    <!-- section 1 end -->

    <!-- section 2 start -->
<div class="section2 mt-[30px] px-[150px] ">
    <h1 class="flex text-center justify-around text-4xl font-bold ">Любые услуги за ваши денишки</h1>
    <p class="flex text-center m-[0] m-[auto] mt-4 text-xl  text-slate-500 w-[540px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>

<div class="section2-edit flex justify-between">
    <div class="section2-wrapper bg-gray-100 text-gray-900 w-[505px] h-[287px] mt-[48px]">
    
        <div class="section2-card flex">
        <div class="sec2-card-list p-[20px]">
            <h3 class="text-2xl font-bold w-[366px]">Б/y запчасти для грузовых авто из Европы</h3>
            <p class=" text-slate-500 w-[253px] pt-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>
            <img class="mt-[-150px] ml-[128px]" src="../../public/images/shina.png" alt="shina">
        </div> 
        </div>
        
        
    </div>


    <div class="section2-wrapper bg-gray-100 text-gray-900 w-[505px] h-[287px] mt-[48px]">
    
        <div class="section2-card flex">
        <div class="sec2-card-list p-[20px]">
            <h3 class="text-2xl font-bold w-[366px]">Б/y запчасти для грузовых авто из Европы</h3>
            <p class=" text-slate-500 w-[253px] pt-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>
            <img class="mt-[-150px] ml-[128px]" src="../../public/images/shina.png" alt="shina">
        </div> 
        </div>
        
        
    </div>

    
</div>




<div class="section2-edit flex justify-between mb-[58px]">
    <div class="section2-wrapper bg-gray-100 text-gray-900 w-[505px] h-[249px] mt-[88px]">
    
        <div class="section2-card flex">
        <div class="sec2-card-list p-[20px]">
            <h3 class="text-2xl font-bold w-[366px]">Б/y запчасти для грузовых авто из Европы</h3>
            <p class=" text-slate-500 w-[253px] pt-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>
            <img class="mt-[-150px] ml-[128px]" src="../../public/images/shina.png" alt="shina">
        </div> 
        </div>
        
        
    </div>


    <div class="section2-wrapper bg-gray-100 text-gray-900 w-[505px] h-[287px] mt-[48px]">
    
        <div class="section2-card flex">
        <div class="sec2-card-list p-[20px]">
            <h3 class="text-2xl font-bold w-[366px]">Б/y запчасти для грузовых авто из Европы</h3>
            <p class=" text-slate-500 w-[253px] pt-[15px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc odio in et, lectus sit lorem id integer.</p>
            <img class="mt-[-150px] ml-[128px]" src="../../public/images/shina.png" alt="shina">
        </div> 
        </div>
        
        
    </div>

    
</div>
</div>
    <!-- section 2 end -->
</body>

</html>